# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.xcuserstate

*.xcworkspacedata

*.xcscheme

*.xccheckout

*.xcuserstate

DR/cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata/magic.xcuserdatad/xcschemes/xcschememanagement.plist

DR/projects/DRGame/proj.ios/DRGame.xcodeproj/xcuserdata/magic.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist
DR/projects/DRGame/Resources/testdata.csv
DR/projects/DRGame/proj.win32/DRGame.suo

*.xcbkptlist

*.xcbkptlist
