# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.xcuserstate

DR/projects/DRGame/proj.ios/DRGame.xcodeproj/project.xcworkspace/xcuserdata/SJKP.xcuserdatad/UserInterfaceState.xcuserstate
